body {
  font-family: 'Poppins', sans-serif;
  margin-top: 60px; /* Adjust the margin to avoid overlap with the fixed navbar */
}

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  background-color: #f0f0f0;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: black;
}

.hero .btn {
  font-size: 1.1rem;
  border: none;
}

.btn-primary:hover {
  background-color: #c42d07;
  color: #fff;
  transform: translateY(-3px);
}

.section {
  padding: 60px 0;
}

.skills .progress-bar {
  background-color: #007bff;
}

.navbar-nav .nav-link {
  color: #fff; /* white color for text */
}

.navbar-nav .nav-link.active {
  color: #fff; /* Orange color for the active link */
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Blue color on hover */
}

.navbar-brand {
  color: #fff;
}

.navbar-nav .nav-item {
  margin-left: 25px;
}

#about{
    height: 100vh;
}
.container h2{
    margin-top: 70px;
}
.card-body .btn{
    border: none;
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px); /* Move up */
    }
    100% {
      transform: translateY(0); /* Move back down */
    }
  }

  /* Apply the animation to the image */
  .move-up-down {
    animation: moveUpDown 2s infinite ease-in-out;
  }